body{
	background-color: hsl(47, 88%, 63%);
	line-height: 1.5em;
	font-size: 1em;
	line-break: normal;
	font-family: "fig-tree",sans-serif;
}

.container{
	background-color: aliceblue;
	width: 50%;
	margin: auto;
	padding: 0 8px;
	
	display: flex;
	flex-direction: column;
	box-shadow:  12px 12px 2px 1px rgb(24, 19, 19);
	border-radius: 20px;
	
}

svg{
	height: auto;
	border-radius: 30px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
}


.click{
	background-color:hsl(47, 88%, 63%) ;
	width: fit-content;
	padding: 10px;
	border: none;
	border-radius: 3px;
	margin-bottom: 5px;
}

@media screen and (min-width:768px) {
     .click{
		width: fit-content;
		font-size: 2em;
	 }
	
}

h1{
	margin: 0;
	line-height: 1em;
}

h1:hover{
	color: hsl(47, 88%, 63%) ;
	cursor: pointer;
}

footer{
	display: flex;
	flex-direction: row;
	
}